
/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Pacifico&display=swap');

* {
margin: 0;
padding: 0;
}
.wrap {
width: 1920px;
margin: 0 auto;
 }

.logo {
margin: 20px 0px;
width: 1920px;
}

.logo img{
float: left;
}

.logo ul li{
list-style: none;
float: right;
margin: 20px 10px;
height: 10px;
}

.logo ul li a{
color: black;
text-decoration: none;
}
.left {
width: 45%;
float: left;
}
.right{
    position: relative;
margin-top: 100px;
margin-left: 3px;
width: 45%;
float: right;
text-align: left;
}

/* 아래 실패한 이미지 위에 텍스트 하는 스타일  */

/* .right img {
    position: relative;
}
.right img h2,h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: (-50%, -50%);
    color: black;
} */


h4 ,h3 span { font-family:'Pacifico' !important;
}   

#important{
    margin-top: 100px;
    color: brown;
    text-align: center;
}
 h1 {
    text-align: center;
}

header div .inner section .inner {
    margin-top: 100px;
}

a {
    width: 30px;
    text-decoration: none;
    padding: 0%;
    color: white;
}


.button {
    position: absolute;
    top: 50%;
    background-color: brown;
    color: white;
    border-radius: 10px;
    /* box-shadow: 0 0 5px 5px gray; */
    padding: 15px;
    min-height: 30px;
    min-width: 120px;
}
/* 마우스를 올렸을때 색이 변하는 기능 */
.button:hover {
    background-color: beige;
    transition: 0.7s;
}
/* 키보드로 조작할떄만 표시되는 기능  */
.button:focus{
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px #5a01a7;
    transition: 0.7s;
}
/* 버튼을 눌렀을때 색이 바뀌는 기능 */
.button:active {
    background-color: #ffbf00;
}

.inner ul  {
    width: 100%;
    list-style: none;
}

section .inner ul li {
    float: left;
    margin: 0 20px;
}

section::after{display: block; content: ""; clear: both;}

footer {
    background-color: black;
    width: auto;
    margin: 0 0;
    text-align: center;
    color: #333;
}

footer ul li {
    list-style: none;
    float: left;
    margin: 20px 20px;
    background-color: black;
    height: 30px;
}