@charset "utf-8";
/*  */

body{ 
    font-family: "맑은 고딕";
}
header {
    width: 610px;
    margin-right: auto;
    margin-left: auto;
    background-color: skyblue;
    /* padding: 10px 50px; */
    overflow: hidden;
}
section {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    border: 5px solid #333;
}

img {
    padding: 10px 10px;
}
footer {
    width: 590px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    background-color: #333;
    margin-top: 0;
    padding: 10px;
    text-align: center;
}