@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid red;
}

.wrap ul li {
    list-style: none;
}
#container {
    display: flex;
    border: 1px solid green;
    justify-content: center;
    width: 1200px;
}
#item {
    border: 1px solid blue;
    width: 1000px;
}
#item img {
    float: left;
    margin: 20px 0;
}
#item ul {
    float: right;
}
#item ul li {
    float: right;
    margin: 35px 20px;
}
#mainimg {
    background-image : url(images/v03.jpg);
    background-repeat: no-repeat;
    width: auto;
    height: 500px;
}
