@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

.wrap {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

.wrap > header {
    height: 50px;
    width: 100%;
    margin-top: 0;
    background-color: aquamarine;
}

.wrap header img {
    display: flex;
    justify-content: center;
}

button {
    background-color: rgba(0, 0, 0,0);
    color: black;
    float: right;
    height: 50px;
    width: 70px;
    margin-right: 10%;
}

div::after{display: block; content: ""; clear: both;}
header::after{display: block; content: ""; clear: both;}

/* -------------------------헤더 ----------------------*/

header {
    height: 100px;
    background-color: #222;
    /* box-sizing: border-box; */
}

header nav > ul {
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

header nav > ul li {
    position: relative;
    width: 150px;
    text-align: center;
    
}
header nav > ul > li:hover ul {
    display: block;
    /* 팁 : height : 100px;
    transition: 1s;*/
}

header nav>ul>li a {
    display: block;
    padding: 5px 10px;
    margin: 0 10px;
    text-decoration: none;
    color: black;
}


header nav > ul > li > ul {
    position: absolute;

    display: none;
    /* 팁 : 위 기능 말고 
    height : 0;
    overflow:hidden; */
}

header nav > ul > li > ul > a {
    display: block;
    padding: 10px 20px;
    background-color: rgba(33, 33, 33, 0.5);
}



header nav>ul>li a:hover {
    color: yellow;
}

/* FLEXFLEXFLEXFLEXFLEXFLEXFLEXFLEXFLEXFLEXFLEXFLEXFLEXFLEXFLEXFLEXFLEX */

.contain {
    background-image: url(/week4/day2/1114_평택/images/main_back.png);
    background-size: cover;
    background-repeat: no-repeat;
}

section{
    width: 100%;
    display: flex;
    /* 이렇게 하면 기본적으로 가로 정렬하게 된다 */
    justify-content: center;
    background-color: beige;
}

section div{
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: beige;
    border-radius: 20px;
    margin: 0 5px;
}

footer {
    background-color: azure;
    text-align: center;
}

footer ul {
    margin: 5px 0;
    display: flex;
    justify-content: center;
}

footer ul::after {
    display: block; content: ""; clear: both;
}

footer > ul > li {
    float: left;
    margin: 5px 30px;
}

.view {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;

}

.view > img {
    border: 1px solid black;
    margin: 5px 5px;
}

/* --------------------반응형 사이트 구문 -------------------------- */

@media (max-width:992px) and (min-width:768px) {
    
    div {
        display: flex;
        flex-wrap: wrap;
    }
}

@media all and(max-width:768px){

    img {
        display: none;
    }
}